<%= content_for :page_js do %>
	<%= javascript_include_tag "jtruncate.pack", "data-turbolinks-track" => true  %>
	<script>
	$().ready(function() {
		$('.overview').jTruncate({  
	        length: 250,
	        minTrail: 0,
	        moreText: "Read More",
	        lessText: "Read Less",
	        moreAni: "fast",
	        lesAni: "fast"
	    }); 
	});
	</script>
<% end %>
<div class="row">
  <div class="col-xs-12">
	<h2 class="headline first-child text-color">
	  <span class="border-color"><%= @tv_show.name %>: season <%= @season.season_number %></span>
	</h2>
  </div>
    <% for episode in @season_info["episodes"]  %>
  	<% @episode = get_episode(@tv_show.id, @season.season_number, episode["episode_number"]) %>
  <div class="col-md-12">
  	<div class="row">

  		<div class="col-md-4">
  		<div class="poster bottom-20">
  		<% if episode["still_path"] %>
  			<%= image_tag(@tmdb.image_url("still", "w300", episode["still_path"]), class: "img-responsive center-block") %>
  		<% else %>
  			<%= image_tag("tv-placeholder.jpg", class: "img-responsive center-block" ) %>
  		<% end %>
      <div class="caption">
            Episode <%= episode["episode_number"] %>
          </div>
		</div>
  			
  		</div>
  		<div class="col-md-8">
  			<h4 class="text-color">
  		  <%= episode["name"] %>
  			</h4>
  			<div class="overview bottom-20"><%= episode["overview"] %></div>
        <% if admin_signed_in? %>
         <% if @episode.download_link.nil? %>
         <%= form_for([@tv_show, @season, @episode], html: { class: "form-inline" } ) do |f| %>
	        <div class="form-group">
	        	<%= f.text_field :download_link, class: "form-control" %>
	        </div>
	        <%= f.submit "Sumbit", class: "btn btn-default" %>
        <% end %>
        <% else %>
        	<%= link_to @episode.download_link, @episode.download_link %>
        <% end %>
<% else %>
        <% if episode_has_link?(@tv_show.id, @season.season_number, episode["episode_number"]) %>
        	<button type="button" class="btn disabled"><i class="fa fa-download"></i> No Download link yet</button>
        <% else %>
        	<%= link_to raw('<i class="fa fa-download"></i> Download'), @episode.download_link, class: "btn btn-green" %>
          <% end %>
          <% end %>
  		</div>
  	</div>
     <hr>
  </div>
  <% end %>
</div>
