<% title "#{@tv_show.name} - Season #{@season.season_number}" %> 

<%= content_for :meta_tags do %>
  <meta property="fb:app_id"          content="286994061452571" /> 
  <meta property="og:type"            content="video.movie" /> 
  <meta property="og:url"             content="<%= request.url %>" /> 
  <meta property="og:title"           content="<%= @season_info["name"] %>" /> 
  <meta property="og:image"           content="<%= @tmdb.image_url("poster", "w342", @tv_show.poster) %>" /> 
  <meta property="og:description"     content="<%= truncate(@season_info["overview"], length: 400)  %>" /> 
  <meta name="description" content="<%= truncate(@season_info["overview"], length: 400) %>">
<% end %>

<%= content_for :page_js do %>
	<%= javascript_include_tag "jtruncate.pack"  %>
	<script>
	$().ready(function() {
		$('.overview').jTruncate({  
	        length: 250,
	        minTrail: 0,
	        moreText: "Read More",
	        lessText: "Read Less",
	        moreAni: "fast",
	        lesAni: "fast"
	    }); 

    setTimeout(function() {
          // scroll after 1 seconds
          var elementClick = window.location.hash
          var destination = $(elementClick).offset().top - 100;

          $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination}, 1100, function() {
            window.location.hash = elementClick
          });
    }, 200);
	});
	</script>
<% end %>
<div class="row">
  <div class="col-xs-12">
	<h2 class="headline first-child text-color">
	  <span class="border-color"><%= @tv_show.name %>: season <%= @season.season_number %></span>
	</h2>
  </div>
    <% for episode in @season_info["episodes"]  %>
  	<% @episode = get_episode(@tv_show.id, @season.season_number, episode["episode_number"]) %>
  <div class="col-md-12" id="episode<%= @episode.episode_number %>">
  	<div class="row">

  		<div class="col-md-4">
  		<div class="poster bottom-20 <%= add_download_class?(@episode) ? "has-download" : "" %>">
  		<% if episode["still_path"] %>
  			<%= image_tag(@tmdb.image_url("still", "w300", episode["still_path"]), class: "img-responsive center-block") %>
  		<% else %>
  			<%= image_tag("tv-placeholder.jpg", class: "img-responsive center-block" ) %>
  		<% end %>
      <div class="caption">
            Episode <%= episode["episode_number"] %>
          </div>
		</div>
  			
  		</div>
  		<div class="col-md-8">
  			<h4 class="text-color">
  		  <%= episode["name"] %>
  			</h4>
  			<div class="overview bottom-20"><%= episode["overview"] %></div>
        <% if admin_signed_in? %>
         <% if @episode.download_link.nil? %>
         <%= form_for([@tv_show, @season, @episode], html: { class: "form-inline" } ) do |f| %>
	        <div class="form-group">
	        	<%= f.text_field :download_link, class: "form-control", placeholder: "http://example.site" %>
	        </div>
	        <%= f.submit "Sumbit", class: "btn btn-default" %>
        <% end %>
        <% end %>
<% else %>
        <% if episode_has_link?(@tv_show.id, @season.season_number, episode["episode_number"]) %>
        	<button type="button" class="btn disabled"><i class="fa fa-download"></i> No Download link yet</button>
        <% else %>
        	<%= link_to raw('<i class="fa fa-download"></i> Download'), @episode.download_link, class: "btn btn-green", title: "download #{@tv_show.name} season #{@season.season_number} episode #{episode["episode_number"]}" %>
          <% end %>
          <% end %>
  		</div>
  	</div>
     <hr>
  </div>
  <% end %>
</div>
