<% title "Search Movies" %>
<div class="row">
	<h2 class="headline first-child text-color">
		<span class="border-color">Search Results</span>
	</h2>
</div>
<div class="row">
	<% @movies["results"].each do |movie| %>

	<div class="col-md-6 shop-product">
	<div class="row">
		<div class="col-md-6">
							<div class="">
			  <% if movie["poster_path"] %>
			  	<%= image_tag(@tmdb.image_url("poster", "w342", movie["poster_path"]), class: "img-responsive") %>
			  <% else %>
			  <%= image_tag("movie-placeholder.jpg", class: "img-responsive") %>
			  <% end %>
			</div>
		</div>
		<div class="col-md-6">
		 <h4><%= movie["title"] %> </h4>
		 <p>(<%= movie["vote_average"] %> / 10) &rarr;(<%= movie["release_date"] %>)</p>
			 <%= render :partial => 'form', locals: { movie: movie } %>
		</div>
	</div>

	</div>

	<% end %>
</div>