<div class="row">
	<h2 class="headline first-child text-color">
		<span class="border-color">Search Results</span>
	</h2>
	<% @shows["results"].each do |show| %>
	<div class="col-sm-3">
			<div class="shop-product">
			  <a href="#">
			   <% if show["poster_path"] %>
			  	<%= image_tag(@tmdb.image_url("poster", "w342", show["poster_path"]), class: "img-responsive") %>
			  	<% else %>
			  		<%= image_tag("movie-placeholder.jpg", class: "img-responsive") %>
			  	<% end %>
			  </a>
			  <a href="#"><h5 class="primary-font"><%= show["name"] %> (<%= show["first_air_date"] %>)</h5></a>
			  <p>
				Rated <%= show["vote_average"] %> / 10
			  </p>
			  <%= form_for @tv_show do |f| %>
			  	<%= f.hidden_field :name, value: show["name"] %>
			  	<%= f.hidden_field :release_date, value: show["first_air_date"] %>
			  	<%= f.hidden_field :tmdb_id, value: show["id"] %>
			  	<%= f.hidden_field :poster, value: show["poster_path"] %>
			  	<%= f.hidden_field :backdrop, value: show["backdrop_path"] %>
			   	<%= f.submit "Save show", class: "btn btn-sm btn-color" %>
			  <% end %>
			</div>
		  </div>
	<% end %>
</div>