<% title "All Movies" %> 
	<% content_for :topic_header do %>
		<!-- Topic Header -->
		<div class="shop-jumbotron">
		<div class="container">
		  <div class="row">
			<div class="col-sm-12">

			  <h1 class="text-center">Search For Movies</h1>
			  <h3 class="primary-font text-center">Search through thousands of movies here:</h3>

				  <%= form_tag(movie_search_url, :method => "get", class: "form-inline text-center") do %>
				  	<div class="form-group">
				  		<label class="sr-only" for="shop-search">Movie</label>
			  			<%= text_field_tag(:query, nil, :class => "form-control border-color col-sm-12", placeholder: "Enter movie name") %>
			  			<button type="submit" class="btn btn-color"><i class="fa fa-search"></i> Search</button>
			  		</div>
				  <% end %>
			</div>
		  </div> <!-- / .row -->

		</div> <!-- / .container -->
		</div> <!-- / .shop-jumbotron -->
	<% end %>
	<div class="container">
		  <div class="row">
		  <div class="col-md-8">
		  	<h2 class="headline first-child text-color">
				<span class="border-color">
					<% if params[:query] %>
						<%= pluralize(@movies.count, "Match") %> Found
					<% else %>
						Movies
					<% end %>
				</span>
			</h2>

						<div class="row">
	  <% @movies.each_with_index do |movie, index| %>
	  		<% if (index.eql? 0 ) && !params[:query]%>
	  		<div class="col-md-6 bottom-20">
			<div class="poster">
			  	<%= link_to image_tag(@tmdb.image_url("poster", "w342", movie.poster), class: "img-responsive"), movie_path(movie) %>
			<div class="caption"><%= movie.title %></div>

			</div>
		  </div>
	  		<% else %>
	  		<div class="col-md-3 col-sm-3 col-xs-6 bottom-20">
			<div class="poster">
			  	<%= link_to image_tag(@tmdb.image_url("poster", "w185", movie.poster), class: "img-responsive"), movie_path(movie) %>
			<div class="caption"><%= movie.title %></div>

			</div>
		  </div>
		  <% if (index.eql? 4)  || ((index % 4).eql? 0 )%>
		  	<div class="clearfix"></div>
		  <% end %>
		  <% end %>
	  <% end %>
	  </div>
			</div>
									<div class="col-md-4">
						<%= render 'shared/google_ad' %>
				<h2 class="headline first-child text-color">
			  <span class="border-color">Like Us</span>
			</h2>
			 <%= render 'shared/facebook_likebox' %>
			</div>
			</div>

	  </div>

