<% title(params[:genre].nil? ? "All Movies" : "#{params[:genre]} Movies")  %> 
<% if admin_signed_in? %>
	<% content_for :topic_header do %>
		<!-- Topic Header -->
		<div class="shop-jumbotron">
		<div class="container">
		  <div class="row">
			<div class="col-md-12">

			  <h1 class="text-center">Search For Movies</h1>
			  				  <%= form_tag(movie_search_url, :method => "get", class: "form-inline text-center") do %>
				  	<div class="form-group">
				  		<label class="sr-only" for="shop-search">show</label>
			  			<%= text_field_tag(:query, nil, :class => "form-control border-color", placeholder: "Enter show name") %>
			  			<button type="submit" class="btn btn-color"><i class="fa fa-search"></i> Search</button>
			  		</div>
				  <% end %>
			</div>
		  </div> <!-- / .row -->

		</div> <!-- / .container -->
		</div> <!-- / .shop-jumbotron -->
	<% end %>
<% end %>
	<div class="container">
		  <div class="row">
										<div class="col-md-4">
														<h2 class="headline first-child text-color">
			  <span class="border-color">Advanced Search</span>
			</h2>
						<div class="sign-form">
						<%= form_for(@search) do |f| %>
					<div class="form-group">
						<%= f.label :title %>
						<%= f.text_field :title, class: "form-control" %>
					</div>
					<div class="form-group">
						<%= f.label :year %>
						<%= f.select :year, options_for_year, { prompt: "Select Year" }, {class: "form-control"} %>
					</div>
					<div class="form-group">
				  		<%= f.label :genre %>
				  		<%= f.select :genre, @genres, { prompt: "Select Genre" }, {class: "form-control"} %>
			  		</div>
			  		<div class="form-group">
			  			<%= f.label :rating %>
			  			<%= f.select :rating, options_for_rating, { prompt: "Select Rating" },{ class: "form-control",  }%>
			  		</div>
			  		<div class="form-group">
			  			<%= f.submit "Submit", class: "btn btn-green btn-block" %>
			  		</div>
			<% end %>
		</div>
		<br>
			<h2 class="headline first-child text-color">
			  <span class="border-color">Sponsored</span>
			</h2>
						<%= render 'shared/google_ad' %>
						<br>

				<h2 class="headline first-child text-color">
			  <span class="border-color">Like Us</span>
			</h2>
			 <%= render 'shared/facebook_likebox' %>

						<h2 class="headline first-child text-color">
			  <span class="border-color">Follow</span>
			</h2>

			 <%= render 'shared/google_plus_follow' %>
			</div>
		  <div class="col-md-8">
		  	<h2 class="headline first-child text-color">
				<span class="border-color">
					<% if params[:query] %>
						<%= pluralize(@movies.count, "Match") %> Found
					<% elsif params[:genre] %>
						<%= params[:genre] %> Movies (<%= @movies.count %>)
					<% else %>
						Movies
					<% end %>
				</span>
			</h2>

						<div class="row">
	  <% @movies.each_with_index do |movie, index| %>
	  		<div class="col-md-3 bottom-20">
			<div class="poster-sm">
			  	<%= link_to image_tag(@tmdb.image_url("poster", "w185", movie.poster), class: "img-responsive"), movie_path(movie) %>
			<div class="caption"><%= movie.title %> (<%= movie.release_date.strftime('%Y') %>)</div>

			</div>
		  </div>
	  <% end %>
	  </div>
	  <div class="col-md-12">
	  	<%= will_paginate @movies, renderer: BootstrapPagination::Rails %>
	  </div>
			</div>

			</div>

	  </div>

