<% title "#{@movie["original_title"]} (#{return_year(@movie["release_date"])})"  %> 

<%= provide(:prefix, "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#") %>

<%= content_for :meta_tags do %>
  <meta property="fb:app_id"      		content="286994061452571" /> 
  <meta property="og:type"        		content="video.movie" /> 
  <meta property="og:url"         		content="<%= request.url %>" /> 
  <meta property="og:title"       		content="<%= @movie["original_title"] %>" /> 
  <meta property="og:image"       		content="<%= @tmdb.image_url("poster", "w342", @record.poster) %>" /> 
  <meta property="og:description" 		content="<%= truncate(@movie["overview"], length: 400)  %>" /> 
  <meta property="video:duration" 		content="<%= @movie["runtime"] %>" />
  <meta property="video:release_date"	content="<%= @movie["release_date"] %>" />
  <meta name="description" content="<%= truncate(@movie["overview"], length: 400) %>">
<% end %>

<%= content_for :page_css do %>
	<%= stylesheet_link_tag "prettyPhoto" %>
	<style type="text/css">
	.download:before{
		content: "<%= number_to_human_size(@record.file_size) %>";
		position: absolute;
		top: 0;
		right: 15px;
		padding: 3px 8px;
		border-radius: 0 0 0 3px;
		background: #E35E54;
		color: white;
	}
	</style>
<% end %>

<%= content_for :page_js do %>
	<%= javascript_include_tag "jquery.raty", "jquery.prettyPhoto", "jquery.carouFredSel-6.2.1", "jtruncate.pack", "init" %>
	<script>
		$(document).ready(function() {
			$('.overview').jTruncate({  
		        length: 310,
		        minTrail: 0,
		        moreText: "Read More",
		        lessText: "Read Less",
		        moreAni: "fast",
		        lesAni: "fast"
		    }); 

		    $('#torrent-info').popover({
		    	html: true,
		    	content: $('.row.top-20.torrent-info').html(),
		    	placement: 'top',
		    	container: 'body',
		    	trigger: 'hover'
		    })
		});
	</script>
<% end %>

<div class="row">
	<div class="col-md-9">
		<div class="row" style="padding-left: 10px;">

			  	<%= render 'shared/google_ad_2' %>

		</div>
		<hr>
		<div class="row">
			<div class="col-md-4">
					<div class="download">
			    		<%= image_tag(@tmdb.image_url("poster", "w342", @record.poster), class: "img-responsive") %>
					</div>	
						<%= link_to raw('<i class="fa fa-youtube-play"></i> Watch Trailer'), "https://www.youtube.com/watch?v=#{@trailer}", class: "btn btn-lg btn-default btn-block top-20", rel: "prettyPhoto", title: "#{@record.title} trailer" %>				
								
			</div>
			<div class="col-md-8">
				<div class="row" style="margin-bottom: 10px;">
			  		<div class="col-md-9">
						<h3 class="primary-font first-child"><%= @movie["original_title"] %> (<%= return_year(@movie["release_date"]) %>) <%= link_to raw('<i class="fa fa-pencil"></i>'), '#', "data-toggle"=>"modal", "data-target"=>"#editMovie" if admin_signed_in? %></h3>
							<div class="raty" data-score=""></div>
							<span class="text-muted reviews" style="margin-left: 1px" id="imdb-rating" data-id="<%= @movie["imdb_id"] %>"></span>
					</div>
					<div class="col-md-3 text-right">
						<%= link_to image_tag("imdb.png"), "http://www.imdb.com/title/#{@movie["imdb_id"]}", target: "_blank" %>
					</div>
				</div>
				<%= render partial: 'shared/google_plus_button' %>
				<%= render partial: 'shared/twitter_share' %>
				<%= render partial: 'shared/facebook_like', locals: { url: request.url } %>

				<p class="overview" style="margin-top: 10px;">
					<%= @movie["overview"] %>
				</p>

					  <h5>Tagline</h5>
					  <p class="text-muted"><%= @movie["tagline"].present? ? @movie["tagline"] : "No tagline available for this movie" %></p>
					  <hr>

				<div class="row">
					<div class="col-md-2">
				
					<%= link_to image_tag('magnet_link.png'), download_path(resource: "movie", id: @record.id, type: "magnetic_link"), title: "Magnetic link", rel: "nofollow" %>
					</div>
					<div class="col-md-7">
						<%= link_to raw("<i class='fa fa-file'></i> Download Torrent File"), download_path(resource: "movie", id: @record.id, type: "torrent_file"), class: "btn btn-green btn-block", title: "download #{@movie["original_title"]} movie torrent", rel: "nofollow"  %>
					</div>
					<div class="col-md-3" style="margin-top: 6px;">
						<%= link_to raw("<i class='fa fa-info-circle'></i> Torrent Info"), '#', id: "torrent-info", title: "Torrent Info"  %>
					</div>
				</div>

			</div>

		</div>
	</div>
	<div class="col-md-3">
		<%= render 'shared/facebook_likebox_small' %>
		<hr>
		<%= render 'shared/google_ad' %>
		
	</div>
</div>

<!-- Screenshots -->
<div class="row">
  <div class="col-sm-12">
	<h3 class="headline text-color">
	  <span class="border-color">Image Gallery</span>
			<span class="pull-right" id="controls">
				<span id="portfolio-next" class="next black">
				<i class="fa fa-arrow-left"></i>
			</span>
            <span id="portfolio-prev" class="prev black">
                <i class="fa fa-arrow-right"></i>
            </span>
		</span>
	</h3>
	<div class="row">
		<div id="caroufredsel">

		<% @backdrops.each do |image| %>
			<div class="col-md-3 col-xs-12 col-sm-4">
			    <div class="movie-item">
			    <a href="<%= @tmdb.image_url("backdrop", "original", image["file_path"])%>" rel="prettyPhoto[gallery1]" title=""><%= image_tag(@tmdb.image_url("backdrop", "w300", image["file_path"]), class: "img-responsive center-block", title: "") if image['file_path'] %></a>

				</div>
			</div>
		
		<% end %>
		</div>
	</div>
  </div>
</div> <!-- / .row -->

<div class="row">
	<div class="col-md-12">
											<h2 class="headline first-child text-color">
			  <span class="border-color">Similar Movies</span>
			</h2>
	</div>
			<% if @record.similar_movies.any? %>
				<% @similar_movies.each do |movie|%>
					  		<div class="col-md-2">
			<div class="poster-sm">
			  	<%= link_to image_tag(@tmdb.image_url("poster", "w185", movie.poster), class: "img-responsive"), movie_path(movie) %>
			<div class="caption"><%= movie.title %> (<%= movie.release_date.strftime('%Y') unless movie.release_date.nil? %>)</div>

			</div>
		  </div>
				<% end %>
				<div class="col-md-12 top-20">
					<%= link_to "View All", similar_movie_path(@record), class: "btn btn-green"%>
				</div>
				<% else %>
				<div class="col-md-12">
					<p>No similar Movies found!</p>
				</div>
			<% end %>
</div>


		<div class="row top-20 torrent-info hidden">
			<div class="col-md-12">
				<% unless (@record.magnetic_link || @record.torrent_file_link).nil? %>
					<p><strong>Size: </strong> <%= @torrent["Size"] %></p>
					<p><strong>Quality: </strong> <%= @torrent["Quality"] %></p>
					<p><strong>Seeders: </strong> <%= @torrent["TorrentSeeds"] %></p>
					<p><strong>Peers: </strong> <%= @torrent["TorrentPeers"] %></p>

   				<% end %>
			</div>
		</div>

<div class="row top-20">
  <div class="col-sm-8">
  <%= render 'shared/comments' %>

  </div>
  <div class="col-md-4">
  <%= render 'shared/google_ad_1' %>
  </div>
</div> <!-- / .row -->


<% if admin_signed_in? %>
<!-- Modal -->
<div class="modal fade" id="editMovie" tabindex="-1" role="dialog" aria-labelledby="editMovieLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit: <%= @movie["original_title"] %></h4>
      </div>
      <div class="modal-body">
      <%= render :partial => 'form', locals: { movie: @record } %>
    </div>
  </div>
</div>
<% end %>