<% title "All Tv Shows" %>
	<% content_for :topic_header do %>
		<!-- Topic Header -->
		<div class="shop-jumbotron">
		<div class="container">
		  <div class="row">
			<div class="col-sm-12">

			  <h1 class="text-center">Search For TV Shows</h1>
			  <h3 class="primary-font text-center">Search through thousands of shows here:</h3>

				  <%= form_tag(tv_search_url, :method => "get", class: "form-inline text-center") do %>
				  	<div class="form-group">
				  		<label class="sr-only" for="shop-search">show</label>
			  			<%= text_field_tag(:query, nil, :class => "form-control border-color col-sm-12", placeholder: "Enter show name") %>
			  			<button type="submit" class="btn btn-color"><i class="fa fa-search"></i> Search</button>
			  		</div>
				  <% end %>
			</div>
		  </div> <!-- / .row -->

		</div> <!-- / .container -->
		</div> <!-- / .shop-jumbotron -->
	<% end %>
	<% content_for :page_js do %>
		<%= javascript_include_tag "jquery.isotope.min" %>
		<script>
			// $(document).ready(function(){

      
			// 	var $container = $('#tv-shows');

			// 	$container.isotope({
			// 		itemSelector: '.show',
			// 		layoutMode: 'fitRows'
			// 	});

			// 	$(window).smartresize(isotope);
		      
			// });
		</script>
	<% end %>
<div class="container">
		  <div class="row">
		  <div class="col-md-8">
		  	<h2 class="headline first-child text-color">
				<span class="border-color">
					<% if params[:query] %>
						<%= pluralize(@tv_shows.count, "Match") %> Found
					<% else %>
						Shows
					<% end %>
				</span>
			</h2>
						<div class="row">
						<div id="tv-shows">
							  <% @tv_shows.each_with_index do |show, index| %>
							  <% if (index.eql? 0 ) && !params[:query] %>
							  	  		<div class="col-md-6 col-sm-4 show">
			<div class="poster">
			  	<%= link_to image_tag(@tmdb.image_url("poster", "w342", show.poster), class: "img-responsive"), tv_show_path(show) %>
			  	<div class="caption">
			  		<%= show.name %>
			  	</div>
			  <p>
			  </p>

			</div>
		  </div>

							  <% else %>
	  		<div class="col-md-3 col-sm-4 show bottom-20">
			<div class="poster">
			  	<%= link_to image_tag(@tmdb.image_url("poster", "w154", show.poster), class: "img-responsive"), tv_show_path(show) %>
			  	<div class="caption">
			  		<%= show.name %>
			  	</div>
			  <p>
			  </p>

			</div>
		  </div>
		  <% end %>
	  <% end %>


</div>
	  </div>
			</div>
						<div class="col-md-4">
						<%= render 'shared/google_ad' %>
				<h2 class="headline first-child text-color">
			  <span class="border-color">Like Us</span>
			</h2>
			 <%= render 'shared/facebook_likebox' %>
			</div>
			</div>


	  </div>
