<% title  @show["name"]  %>

<%= provide(:prefix, "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#") %>

<%= content_for :meta_tags do %>
  <meta property="fb:app_id"      		content="286994061452571" /> 
  <meta property="og:type"        		content="video.movie" /> 
  <meta property="og:url"         		content="<%= request.url %>" /> 
  <meta property="og:title"       		content="<%= @show["name"] %>" /> 
  <meta property="og:image"       		content="<%= @tmdb.image_url("poster", "w342", @record.poster) %>" /> 
  <meta property="og:description" 		content="<%= truncate(@show["overview"], length: 400)  %>" /> 
  <meta property="video:duration" 		content="<%= @show["episode_run_time"][0] %>" />
  <meta property="video:release_date"	content="<%= @show["first_air_date"] %>" />
   <meta name="description" content="<%= truncate(@show["overview"], length: 400) %>">
<% end %>

<%= content_for :page_css do %>
	<%= stylesheet_link_tag "prettyPhoto" %>
<% end %>

<%= content_for :page_js do %>
	<%= javascript_include_tag "jquery.raty", "jquery.prettyPhoto", "jquery.carouFredSel-6.2.1", "init" %>
<% end %>

<div class="container shop-item">
<div class="row">
		  <div class="col-sm-12">
			<div class="row">
			  <div class="col-sm-4">
			    <div class="product-img">
			    <%= image_tag(@tmdb.image_url("poster", "w342", @record.poster), class: "img-responsive") %>
				</div>
				<%= render partial: 'shared/facebook_like', locals: { url: request.url } %>
			  </div>
			  <div class="col-sm-8">
				<h3 class="primary-font first-child"><%= @show["name"] %></h3>
				<div class="raty" data-score="<%= @show["vote_average"] %>"></div>
				<span class="text-muted reviews" style="margin-left: 1px">Rated: <%= @show["vote_average"]%></span>
				<p class="text-muted top-20">
				  <%= truncate(@show["overview"], length: 700) %>
				</p>
				<div class="row">
				<div class="col-md-12">
				<%= render 'shared/google_ad' %>
				</div>
				</div>
				
			  </div>
			</div>

			<!-- Tv show seasons -->
			<div class="row">
			  <div class="col-sm-12">
				<h3 class="headline text-color">
				  <span class="border-color">Seasons</span>
				</h3>
			  </div>
			</div> <!-- / .row -->
			
			<div class="row">
				<% @show["seasons"].each do |season| %>
			
					<% 	unless((season["season_number"].eql? 0) || (season["season_number"].nil?)) %>
										<div class="col-md-2 bottom-20">
					<div class="poster">
					<% if season["poster_path"] %>
						<%= link_to(image_tag(@tmdb.image_url("poster", "w154", season["poster_path"]), class: "img-responsive"), tv_show_season_path(@record, season["season_number"])) %>
					<% else %>
						<%= link_to(image_tag("movie-placeholder.jpg", class: "img-responsive"), tv_show_season_path(@record, season["season_number"])) %>
					<% end %>
										<div class="caption">Season <%= season["season_number"] %></div>
					</div>
					</div>
					<% end %>
				
				<% end %>

			</div>
			
			
			<!-- Item Description -->
			<div class="row">
			  <div class="col-sm-12">
				<h3 class="headline text-color">
				  <span class="border-color">Screenshots</span>
	  				<span class="pull-right" id="controls">
	  					<span id="portfolio-next" class="next black">
            				<i class="fa fa-arrow-left"></i>
        				</span>
			            <span id="portfolio-prev" class="prev black">
			                <i class="fa fa-arrow-right"></i>
			            </span>
					</span>
				</h3>
				<div class="row">
				<div id="caroufredsel">


				</div>
				</div>
			  </div>
			</div> <!-- / .row -->
			<div class="row">
			  <div class="col-sm-8">
			  <%= render 'shared/comments' %>

			  </div>
			  <div class="col-md-4">
			  <%= render 'shared/google_ad_1' %>
			  </div>
			</div> <!-- / .row -->
		  </div>
		</div>
		</div>
