<%= content_for :page_css do %>
	<%= stylesheet_link_tag "prettyPhoto", "data-turbolinks-track" => true  %>
<% end %>

<%= content_for :page_js do %>
	<%= javascript_include_tag "jquery.raty", "jquery.prettyPhoto", "jquery.carouFredSel-6.2.1", "data-turbolinks-track" => true  %>
	<script>
	  $("a[rel^='prettyPhoto']").prettyPhoto({
	  	deeplinking: false
	  });

	  $('div.raty').raty({
	     number: 10,
	     readOnly: true,
	      path: '/assets',
	     score: function() {
	       return $(this).attr('data-score');
	     }

	  });

	    $('#caroufredsel').carouFredSel({
			responsive: true,
			scroll : 4,
			circular: true,
			infinite: true,
			items: {
			  visible: {
			      min: 1,
			      max: 4
			  }
			},
			prev: '#portfolio-next',
			next: '#portfolio-prev',
			auto: {
			  play: false
			}
		});

		$(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({
			slideshow:3000,
			autoplay_slideshow: true,
			deeplinking: false,
			overlay_gallery: false,
			show_title: false
		});
	</script>
<% end %>

<div class="container shop-item">
<div class="row">
		  <div class="col-sm-12">
			<div class="row">
			  <div class="col-sm-4">
			    <div class="product-img">
			    <%= image_tag(@tmdb.image_url("poster", "w342", @record.poster), class: "img-responsive") %>
				</div>
			  </div>
			  <div class="col-sm-8">
				<h3 class="primary-font first-child"><%= @show["name"] %></h3>
				<div class="raty" data-score="<%= @show["vote_average"] %>"></div>
				<span class="text-muted reviews" style="margin-left: 1px">Rated: <%= @show["vote_average"]%></span>
				<p class="text-muted top-20">
				  <%= @show["overview"] %>
				</p>
				<div class="row">
				ad
				</div>
				
			  </div>
			</div>

			<!-- Tv show seasons -->
			<div class="row">
			  <div class="col-sm-12">
				<h3 class="headline text-color">
				  <span class="border-color">Seasons</span>
				</h3>
			  </div>
			</div> <!-- / .row -->
			
			<div class="row">
				<% @show["seasons"].each do |season| %>
				<% unless season["season_number"].eql? 0 %>
					<div class="col-md-2">
					<div class="poster">
					<% if season["poster_path"] %>
						<%= link_to(image_tag(@tmdb.image_url("poster", "w154", season["poster_path"]), class: "img-responsive"), season_tv_show_path(season_id: season["season_number"])) %>
					<% else %>
						<%= link_to(image_tag("movie-placeholder.jpg", class: "img-responsive"),  season_tv_show_path(season_id: season["season_number"])) %>
					<% end %>
					
					<div class="caption">Season <%= season["season_number"] %></div>
					</div>
					</div>
					<% end %>
				<% end %>

			</div>
			
			
			<!-- Item Description -->
			<div class="row">
			  <div class="col-sm-12">
				<h3 class="headline text-color">
				  <span class="border-color">Screenshots</span>
	  				<span class="pull-right" id="controls">
	  					<span id="portfolio-next" class="next black">
            				<i class="fa fa-arrow-left"></i>
        				</span>
			            <span id="portfolio-prev" class="prev black">
			                <i class="fa fa-arrow-right"></i>
			            </span>
					</span>
				</h3>
				<div class="row">
				<div id="caroufredsel">


				</div>
				</div>
			  </div>
			</div> <!-- / .row -->
			<div class="row">
			  <div class="col-sm-8">
			  <%= render 'shared/comments' %>

			  </div>
			  <div class="col-md-4">
			  </div>
			</div> <!-- / .row -->
		  </div>
		</div>
		</div>
