<% title "Home - Tiny Quality Downloads" %>
	   <% content_for :page_css do %>
	   		<%= stylesheet_link_tag "flexslider"  %>
	   <% end %>

	   <% content_for :page_js do %>
	   		<%= javascript_include_tag "jquery.flexslider"  %>
	   		<script>
	   		$(document).ready(function(){
			    $('.flexslider').flexslider({
				    animation: "slide"
				  });
		      
			});
	   		</script>
	   <% end %>
	    <div class="row">
	    <div class="col-md-4">
	    <div class="shop-product featured">
	    	<%= link_to image_tag(@tmdb.image_url("poster", "w342", @featured.poster), class: "img-responsive"), movie_path(@featured) unless @featured.nil? %>
	</div>
	    	
	    </div>
		  <div class="col-md-8">
		  <h2 class="headline first-child text-color">
			  <span class="border-color">Recently Updated Shows</span>
			</h2>
		  <div class="flexslider">
			  <ul class="slides">
			  <% if @recently_updated_seasons.any? %>
			  	<% @recently_updated_seasons.each do |season| %>
			  	<% if season.updated_at != season.created_at %>
			  	<% @episode = season.episodes.where("updated_at = ?", season.updated_at).first %>
			<li>
			<%= link_to image_tag(@tmdb.image_url("backdrop", "w780", season.tv_show.backdrop), class: "img-responsive"), tv_show_season_path(season.tv_show, season.season_number) + "#episode#{@episode.episode_number}" %>
			<div class="flex-caption">
				<h4><%= season.tv_show.name %></h4>
				<% unless  season.episodes.where("updated_at = ?", season.updated_at).first.nil? %>
				<p>Season <%= season.season_number %> Episode <%= @episode.episode_number  %></p>					
				<% end %>
				
			</div>
			</li>
			<% end %>
			<% end %>
			<% end %>
			  </ul>
			</div>
		  </div>
		</div> <!-- / .row -->


		<div class="row">
			<div class="col-md-12">
		  <h2 class="headline first-child text-color">
			  <span class="border-color">Recent Movies</span>
			</h2>		
			</div>
			<% if @movies.any? %>
				  <% @movies.each_with_index do |movie, index| %>
				  <% if index.eql? 0 %>
				  	  		<div class="col-md-4  bottom-20">
			<div class="poster">
			  	<%= link_to image_tag(@tmdb.image_url("poster", "w342", movie.poster), class: "img-responsive"), movie_path(movie) %>
			<div class="caption"><%= movie.title %></div>

			</div>
		  </div>
				  <% else %>
	  		<div class="col-md-2 bottom-20">
			<div class="poster">
			  	<%= link_to image_tag(@tmdb.image_url("poster", "w154", movie.poster), class: "img-responsive"), movie_path(movie) %>
			<div class="caption"><%= movie.title %></div>

			</div>
		  </div>
		  		  	<% if (index % 4) == 0 %>
			  	<div class="clearfix"></div>
			  <% end %>
		  <% end %>
	  <% end %>
	  <% end %>


		</div>

		<div class="row">
			<div class="col-md-12">
		  <h2 class="headline first-child text-color">
			  <span class="border-color">Recent Shows</span>
			</h2>		
			</div>
		</div>
		
		

		<div class="row" id="tv-shows">
			<% if @shows.any? %>
			<% @shows.each_with_index do |show, index| %>
			<% if index.eql? 0 %>
	  		<div class="col-md-4  bottom-20 show">
			<div class="poster">
			  	<%= link_to image_tag(@tmdb.image_url("poster", "w342", show.poster), class: "img-responsive"), tv_show_path(show) %>
			<div class="caption"><%= show.name %></div>

			</div>
		  </div>

			<% else %>
	  		<div class="col-md-2 bottom-20 show">
			<div class="poster">
			  	<%= link_to image_tag(@tmdb.image_url("poster", "w154", show.poster), class: "img-responsive"), tv_show_path(show) %>
			<div class="caption"><%= show.name %></div>

			</div>
		  </div>
		  		  	<% if (index % 4) == 0 %>
			  	<div class="clearfix"></div>
			  <% end %>
		  <% end %>
	  <% end %>
	  <% end %>
		</div>