<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>    
      <% if @movie %>
        <p><strong>Type: </strong> Movie</p>
        <p><strong>Title: </strong> <%= @movie.title %></p>
        <p><strong>Downloaded through: </strong> <%= @download_type %></p>
        <p><strong>Total downloads to date: </strong> <em><%= @movie.download_count %></em> Downloads!</p>
      <% end %>
      <% if @episode %>
        <p><strong>Type: </strong> Episode</p>
        <p><strong>Title: </strong> <%= @episode.season.tv_show.name %> S0<%= @episode.season.season_number %>E<%= @episode.episode_number %></p>
        <p><strong>Downloaded through: </strong> <%= @download_type %></p>
        <p><strong>Total downloads to date: </strong> <em> <%= @episode.download_count %></em> Downloads!</p>
      <% end %>
  </body>
</html>